* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 28px;
  background-image: url(../images/banner-bg.jpg);
  background-color: #50524a;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
  margin-bottom: 64px;
}

.header::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: black;
  opacity: 0.5;
  z-index: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 127px;
  position: relative;
}

.menu_logo {
  width: 179px;
}

.menu_items {
  display: flex;
}

.menu_item {
  text-transform: uppercase;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
}

.menu_item:nth-child(n+2) {
  margin-left: 35px;
}

.menu_item_link {
  color: #fff;
  text-decoration: none;
}

.menu_item_link:hover {
  text-decoration: underline;
}

.menu_burgers {
  display: none;
}

.menu_burger {
  width: 22px;
  height: 20px;
  display: block;
  fill: #ffffff;
  cursor: pointer;
}

.header_title {
  font-family: OpenSans, arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 679px;
  color: white;
  text-transform: uppercase;

  position: relative;
  top: -28px;
  right: 8px;
  z-index: 1;
}


/* MAIN */

.main {
  display: flex;
  flex-wrap: wrap;
}

.trends {
  position: relative;
  width: 100%;
}

.trends_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.0rem;
  text-transform: uppercase;
  text-align: center;
}

.trends_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 14px;
  margin-bottom: 28px;
}

.box_trends {
  display: flex;
}

.box_trend {
  display: flex;
  align-items: flex-end;

  position: relative;

  box-sizing: border-box;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  width: 25%;
  height: 320px;
  margin: 0 4px 4px 0;
  background-color: #c0c0c0;
}

.box_trend::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.box1 {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.box2 {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.box3 {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.box4 {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.trend_desc {
  box-sizing: border-box;
  padding: 39px 33px;
  border: 3px solid #b59f5b;
  z-index: 2;
}

.trend_items {
  display: flex;
  flex-wrap: wrap;
}

.head_trend {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.0rem;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 10px;
}

.head_trend_link {
  color: #ffffff;
  max-width: 153px;
}

.head_trend_link:hover {
  color: #b59f5b;
}

.container_main {
  display: flex;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 63px;
}

.main_content {
  max-width: 778px;
}

.article {
  display: flex;
  margin-bottom: 59px;

}

.picture {
  flex-shrink: 0;
  max-width: 381px;
  margin-right: 30px;
}

.article_img {
  width: 100%;
  height: 100%;
  background-color: #eff6f1;
  display: inline-block;
}

.items_link {
  display: flex;
  flex-wrap: wrap;
}

.link_item:nth-child(n+1) {
  margin-right: 20px;
}

.link_item {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #b59f5b;
  text-decoration: none;

}

.link_item:hover {
  text-decoration: underline;
}

.title_article_link {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.0rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #0e0f0d;
  width: 330px;
}

.title_article_link:hover {
  color: #b59f5b;
}

.title_article {
  margin-top: 16px;
  margin-bottom: 10px;
  line-height: 23px;
}

.datetime {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  color: #888888;

  position: relative;
  top: 9px;
}

.author_link {
  margin-left: 15px;
  text-decoration: none;
  font-family: "OpenSans", arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 40px;
  color: #000000;

  position: relative;
  top: 9px;
  right: 11px;
}

.article_text {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 22px;
  color: #0f0d0e;

  padding: 20px 0px;
}

.aside {
  width: 272px;
  box-sizing: border-box;
  margin-left: 120px;
  position: relative;
}

.aside_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;

  margin: -6px;
}

.aside_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 14px;
  margin-bottom: 29px;
}

.aside_title_link {
  text-decoration: none;
  color: #0f0d0e;
}


/* новые посты */

.post_box {
  display: flex;
  margin-bottom: 20px;
}

.post_desc_img {
  margin-right: 20px;
}

.post_img {
  width: 70px;
  background-color: #eff6f1;
  display: inline-block;
}

.post_datetime {
  display: block;
  font-family: "OpenSans", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  color: #888888;
}

.subtitle {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.subtitle_link {
  text-decoration: none;
  color: #0f0d0e;
}

.subtitle_link:hover {
  color: #b59f5b;
}


/* форма поиска */


.search_section {
  margin-top: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search_field {
  box-sizing: border-box;
  border: none;
  padding-left: 18px;
  padding-right: 5px;
  height: 48px;
  width: 222px;
  background-color: #f4f7f6;
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
  font-size: 1.3rem;

  position: relative;
  margin-top: 37px;
}

.search_field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.btn_search {
  position: absolute;
  background-color: #b59f5b;
  width: 48px;
  height: 48px;
  border: none;

  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center;

  margin-top: 37px;
}

.btn_search:hover {
  background-color: #323232;
  cursor: pointer;
}


/* рассылка */


.email_send_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;

  margin-top: 59px;
}

.email_send_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 14px;
  margin-bottom: 29px;
}

.email_send_link {
  text-decoration: none;
  color: #0f0d0e;
}

.email_field {
  box-sizing: border-box;
  border: none;
  display: block;
  vertical-align: middle;
  padding-left: 18px;
  padding-right: 5px;
  height: 48px;
  width: 271px;
  background-color: #f4f7f6;

  font-family: inherit;
  font-size: 1.3rem;

  margin-bottom: 19px;
  margin-top: -15px;

}

.email_field:focus {
  border: 1px solid #b59f5b;
  outline: none;

}

.btn_email {
  background-color: #b59f5b;
  border: none;
  height: 48px;
  width: 271px;

  margin-bottom: 60px;
}

.btn_email:hover {
  background-color: #323232;
  cursor: pointer;
}


.btn_email_text {
  color: #ffffff;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* теги */

.tag_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;

  margin-top: -2px;
}

.tag_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 9px;
  margin-bottom: 19px;
}

.tag_title_link {
  text-decoration: none;
  color: #0f0d0e;
}

.tag_items {
  display: flex;
  flex-wrap: wrap;

  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  text-transform: uppercase;

  line-height: 9px;
}

.tag_item {
  border: 3px solid #eeeeee;
  box-sizing: border-box;
  padding: 8px 13px;
  margin-bottom: 6px;
}

.tag_item:nth-child(n+1) {
  margin-right: 6px;
}

.tag_item:hover {
  border-color: #b59f5b;
}

.tag_item_link {
  text-decoration: none;
  color: #0f0d0e;
}

/* темы */


.topic_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;

  margin-top: 50px;
}

.topic_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 10px;
  margin-bottom: 7px;
}

.topic_title_link {
  text-decoration: none;
  color: #0f0d0e;
}

.topic_items {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
}

.topic_item {
  border-bottom: 1px solid #eeeeee;
  padding-top: 9px;
  padding-bottom: 12px;
}


.topic_item_link {
  text-decoration: none;
  color: #0f0d0e;
}

.topic_item_link:hover {
  color: #b59f5b;
}

.number {
  color: #b59f5b;
  vertical-align: super;
}

/* НАШИ ИЗДЕЛИЯ */

.shop_products {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.products_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.products_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 14px;
  margin-bottom: 28px;
}

.shop_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box_product {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 300px;
  margin: 40px;
}

.box_product .picture {
  margin-right: 30px;
}

.box_desc {
  flex-grow: 1;
  padding: 53px 23px;
  border: 3px solid #b59f5b;
  min-height: 263px;
  margin-top: -28px;
  margin-left: -30px;
  width: 347px;
}

.head_product_link {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.product_desc {
  color: #323232;
  font-size: 1.5rem;
  max-width: 347px;
}

.product_desc:hover {
  color: #000000;
  font-weight: 500;
}

.link_desc_product {
  color: #b59f5b;
}

.product_footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 23px;
  width: 100%;
}

.product_prices {
  display: block;
}

.product_price {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.product_price::after {
  content: "₽";
}

.product_old_price {
  text-decoration: line-through;
  font-size: 1.4rem;
}

.product_new_price {
  font-size: 2rem;
}

.product_btn {
  background-color: #b59f5b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  padding: 20px 28px;
}



/* footer */


.socials {
  padding-top: 31px;
  padding-bottom: 31px;

  background-color: #f4f7f6;
  margin-top: 64px;
  margin-bottom: 74px;
}

.social_items {
  display: flex;
  justify-content: center;
  align-items: center;

}

.social_item {
  display: block;
  height: 20px;
  width: 20px;
}

.social_item:nth-child(n+2) {
  margin-left: 30px;
}

.social_item a {
  display: block;
  height: 100%;
}

.iconDribbble {
  background-image: url(../svg/001-dribbble.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.iconPinterest {
  background-image: url(../svg/002-pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.iconTumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer_text {
  text-align: center;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  color: #999999;

  margin-bottom: 43px;
}


/* POP-UP */

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.popup_body {
  margin: auto;
  width: 390px;
  background-color: #ffffff;
  padding: 54px 30px;
  position: relative;

}

.popup_title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.popup_title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  margin-top: 14px;
  margin-bottom: 28px;
}

.popup_survey {
  display: block;
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 27px;
  margin-bottom: 12px;

}

.popup_field {
  box-sizing: border-box;
  border: none;
  padding: 17px 19px;
  height: 48px;
  width: 330px;
  background-color: #f4f7f6;
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
  font-size: 1.3rem;

  position: relative;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: right 14px center;

  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup_field:focus {
  border-bottom: 1px solid #b59f5b;
  outline: none;
}


.radio_btn {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}


.radio_btn:checked+.input_text::before {
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.input_text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  cursor: pointer;
  margin-right: 5px;
}

.input_text:nth-child(n+2) {
  margin-left: 16px;

}

.textarea {
  padding: 20px;
  border: none;
  max-width: 330px;
  max-height: 132px;
}

.textarea:focus {
  border-bottom: 1px solid #b59f5b;
  outline: none;
}

.popup_btn {
  background-color: #b59e5a;
  border: none;
  height: 48px;
  width: 330px;
  cursor: pointer;
  margin-top: 26px;

}

.popup_btn_text {
  color: #ffffff;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.popup_close {
  position: absolute;
  right: -16px;
  top: -29px;
  color: #b63535;
  width: 18px;
  height: 18px;
  cursor: pointer;
}


/* TABLET */

@media (min-width:641px) and (max-width:1200px) {
  html {
    font-size: 55.5%;
  }

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    background-color: #50524a;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  .menu_burgers {
    display: flex;
  }

  .menu_items {
    display: none;
  }

  @media screen and (orientation: portrait) {
    .box_trends {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr 1fr;
    }
  }

  .box_trend {
    width: 99%;
  }

  .article {
    display: block;
  }

  .article_description {
    max-width: 343px;
  }

  .aside {
    margin-left: 34px;
  }

  .shop_box {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
  }

  .picture {
    background: #eff6f1;
    width: 292px;
    height: 226px;
    margin-bottom: 16px;
  }

}




/* MOBILE */
@media (max-width:640px) {
  html {
    font-size: 50%;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
    background-color: #50524a;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  .menu_logo {
    width: 269px;
    position: relative;
    top: 50px;
    margin-top: 225px;
  }

  .logo_link {
    margin-left: auto;
    margin-right: auto;
  }

  .header_title {
    max-width: 300px;
    margin-top: 44px;
    margin-bottom: 217px;
  }

  .menu_burgers {
    position: absolute;
    top: 32px;
    right: 14px;
    display: flex;
  }

  .menu_items {
    display: none;
  }

  @media screen and (orientation: portrait) {
    .box_trends {
      display: block;
    }
  }

  @media screen and (orientation: landscape) {
    .box_trends {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr 1fr;
    }
  }

  .box_trend {
    width: 100%;
  }

  /* .trend_desc{
    width: 550px;
  }

  .head_trend{
    width:300px ;
  } */

  .container_main {
    display: block;
    width: 100%;
  }

  .article {
    display: block;
  }

  .aside {
    margin-left: 0;
  }

  .shop_box {
    align-items: center;
    justify-content: center;
  }

  .picture {
    background: #eff6f1;
    width: 100%;
    height: 283px;
    margin-bottom: 16px;
  }

}